body{
    width: 100%;
    margin: 0;
    margin-right: 0;
    margin-top: 0;
    font-size: 19px;
    background-color: rgb(243, 212, 212);
    font-family: 'Oswald', sans-serif;
}
header{
    width: 100%;
    background-color: #333;
    display: flex;
    height: 57px;
    flex-direction: row;
}
.header-text{
    padding-top: 300px;
    display: flex;
    text-align: center;
    align-items:center;
    justify-content:center;
    margin: auto;
        
}
.nav-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.nav-li {
    float: left;
  }

.nav-li a {
    display: block;
    color: rgb(126, 125, 125);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}  
.nav-li:hover {
    background-color: #111;
}
#active{
    color: beige;
}

form{
    margin-left: 10px;
}

.clear{
    clear: both;
}
.form{
    padding: 10px;
    border: 1px solid;
    margin: 10px;
    text-align: center;
}
.form input, .form textarea{
    border: 1px solid;
    padding: 2px;
    width: 300px;
}
.prices-table{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#prices {
    border-collapse: collapse;
    width: 100%;
  }
  
  #prices td, #prices th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #prices tr:nth-child(odd){background-color: rgba(228, 150, 150, 0.801);}
  
  #prices tr:hover {background-color: rgb(248, 232, 232);}
  
  #prices th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(228, 150, 150, 0.801);
  }
h3{
    margin-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}
ul{
    list-style: none;
}

h2{
    text-align: center;
}
.center{
    text-align: center;
    margin-bottom: 15px;
}
.delete{
    margin-left: 10px;
    float: right;
    margin-top: 4px;
    margin-right:40px;
}
footer{
    text-align: center;
}
.contact:link{
   color: rgb(80, 79, 79);
   text-decoration: none;
}
.contact:hover{
    color: rgb(136, 136, 136);
}